<a href="https://colab.research.google.com/github/carlosfmorenog/CMM202/blob/master/CMM202_Topic_5/CMM202_T5_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMM202 Topic 5 Lab

In [ ]:
import pandas as pd

## Part 1: Melting

Load the datasets `treatment1.csv` and `treatment2.csv` into variables `treatment1` and `treatment2`

On both cases, use `index_col=0`

In [ ]:
url = 'https://www.dropbox.com/s/2jwaazsff3o2wv7/treatment1.csv?raw=1'
# Your code here

In [ ]:
url = 'https://www.dropbox.com/s/e0g6ocqbdb73czu/treatment2.csv?raw=1'
# Your code here

**Q. What do you notice is the same between these two datasets?**

Answer:

**Q. How many observations are there in these datasets?**

Answer:

Reset the index on `treatment1` so that it now has default indexing, keeping the old index as a column called `patient`

In [ ]:
# Your code here

Melt the `treatment1` dataset, and remove the null entry

Make sure you have a table which looks like this (check column headings and data types):

|    | patient      | treatment  | reading |
| -: | :----------- | :--------- | ------: |
|  0 | Jane Doe     | treatmenta |      16 |
|  1 | Mary Johnson | treatmenta |       3 |
|  2 | John Smith   | treatmentb |       2 |
|  3 | Jane Doe     | treatmentb |      11 |
|  4 | Mary Johnson | treatmentb |       1 |

In [ ]:
# Your code here

**Q. If we had done the same transformation to `treatment2`, how would the result differ?**

Answer:

## Part 2: Pivoting

The `gdp.csv` dataset shows the gross domestic product (GDP) of counties over time

Load this dataset, use default indexing

In [ ]:
url = 'https://www.dropbox.com/s/hzj430f7b0s094y/gdp.csv?raw=1'
# Your code here

Note that this is a very wide data set with 65 columns

The year of the data is stored in each column

Where data is unavailable for the year and country, the entry is missing (`NaN`)

For this exercise, we don't need `'Country Code'`, `'Indicator Name'`, `'Indicator Code'`, or the unnamed column `'Unnamed: 64'`

Remove these from the dataset, so that only the GDP are shown

We only need to keep `'Country name'` and the year-numbered columns

In [ ]:
# Your code here

Convert the data set to long format with columns `'Country Name'`, `'Year'`, and `'GDP'`

Here is an example of the first three rows of the data

|    | Country Name | Year |          GDP |
| -: | :----------- | ---: | -----------: |
| 0  | Aruba        | 1960 |          NaN |
| 1  | Afghanistan  | 1960 | 5.377778e+08 |
| 2  | Angola       | 1960 |          NaN |

In [ ]:
# Your code here

Remove the null entries in the dataset

In [ ]:
# Your code here

**Q. How many observations do we have in the data set?**

Answer:

Create a new dataframe in a variable `uk`, which contains the GDP for only the United Kingdom, with `'Year'` as the index

Since the numbers are quite large, divide by `1_000_000_000_000` (one trillion), and round to 3 decimal places

Display the most recent $5$ years available in the data, as follows:

|     Year | GDP (Trillion USD) |
| -------: | -----------------: |
| **2014** |              3.035 |
| **2015** |              2.896 |
| **2016** |              2.659 |
| **2017** |              2.638 |
| **2018** |              2.825 |

In [ ]:
# Your code here

Let's go back to the original dataframe `gdp`

You should have this data set now in the "long" format

Change the table back to the wide format using `pivot`, this time instead of having a column for each `Year`, have a column for each `Country`, the `Year` will be the rows

In [ ]:
# Your code here

**Q. What is the shape of this dataframe?**

Answer:

Returning again to the long version of the dataset, use `pivot_table` to find the maximum (`max`) GDP for each country (the highest the GDP has ever been in the recorded data)

Store this in a variable called `highest_ever`

Should look something like this


| Country Name |          GDP |
| :----------- | -----------: |
| Afghanistan  | 2.056105e+10 |
| Albania      | 1.505888e+10 |
| Algeria      | 2.138100e+11 |

*Hint: Do not specify a `columns=` parameter, since we want only a single column.*

In [ ]:
# Your code here

**Q. Which country has had the highest ever GDP?**

*Hint: The dataset contains entries which are not countries, e.g. `World` or `High income`. If you display the first 20 rows after sorting, you should be able to find the answer.*

In [ ]:
# Your code here

Answer:

**Extra Question: Is there any way in which we can better filter this dataset to look for countries instead of regions?**

Answer: