<a href="https://colab.research.google.com/github/carlosfmorenog/CMM202/blob/master/CMM202_Topic_8/CMM202_T8_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMM202 Topic 8 Lab

In [ ]:
# Install required packages
!pip install requests
!pip install bs4

In [ ]:
# Import required packages
import pandas as pd
import requests
from bs4 import BeautifulSoup

In this exercise, you will scrap data from Wikipedia. More specifically, you will design a code that lets you capture the population of the seven Scottish cities (i.e. the localities in Scotland which are considered "cities")

https://en.wikipedia.org/wiki/List_of_towns_and_cities_in_Scotland_by_population

You will scrap the following Wiki entry, making sure that you only capture data from the cities (i.e. from the entries that have the work City in the `Status` column!)

First, I recommend you to copy-paste the code from the lecture

When you want to find the table, keep in mind the class of the table! You can do so by specifying it as:

    rows = soup.find("table", {"class":"class_of_the_table"})

In [ ]:
# create two lists to put names and populations
cities = []
population = []
# define the url
url = "https://en.wikipedia.org/wiki/List_of_towns_and_cities_in_Scotland_by_population"
# request the url

# soup it

# get the rows of the table
    # if city, then get name and pop

print(cities,population)

In the end, you should have a data frame that looks something like this:

In [ ]:
# This cell is use dto create a dataframe to show how the final output should look like
cities = ['Glasgow', 'Edinburgh', 'Aberdeen', 'Dundee', 'Perth', 'Inverness', 'Stirling']
population = [612040, 488050, 200680, 148280, 47430, 47290, 37610]
scotland = pd.DataFrame({'City':cities,'Population':population})
scotland

        City  Population
0    Glasgow      612040
1  Edinburgh      488050
2   Aberdeen      200680
3     Dundee      148280
4      Perth       47430
5  Inverness       47290
6   Stirling       37610

Another (more complicated option) is to scrap the data from each Wikipedia entry:
     
    https://en.wikipedia.org/wiki/Dundee
    https://en.wikipedia.org/wiki/Edinburgh
    https://en.wikipedia.org/wiki/Glasgow
    https://en.wikipedia.org/wiki/Aberdeen
    https://en.wikipedia.org/wiki/Perth,_Scotland
    https://en.wikipedia.org/wiki/Inverness
    https://en.wikipedia.org/wiki/Stirling

In [ ]:
## Use this cell to show your answer