<a href="https://colab.research.google.com/github/carlosfmorenog/CMM202/blob/master/CMM202_Topic_4/CMM202_T4_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMM202 Topic 4 Lab

In [ ]:
import pandas as pd

The `rating.csv` dataset contains user ratings of anime

The data set is structed as follows:
    
| user_id | anime_id | rating |
| ------: | -------: | -----: |
|       1 |    11757 |     10 |
|       2 |    11771 |     10 |
|       3 |       20 |      8 |
|       3 |      154 |      6 |
|       3 |      170 |      9 |
|     ... |      ... |    ... |

Notice that no column is a unique index

In fact, `user_id` indicates the user doing the rating, `anime_id` indicates the anime, and `rating` is the user's rating of that anime from `1` to `10`

Import this dataset using the following cell, removing in advance all rows with missing data (you should have $5484219$ rows of data)

In [ ]:
rating = pd.read_csv('https://www.dropbox.com/s/si72o36gnk4xdx5/rating.csv?raw=1')
# Your code here

Let's reorder the dataset as follows:

1. Group the data by `user_id`
2. Aggregate using the `count` operation
3. Sort by count of rating (descending)

In [ ]:
# Your code here

If you did all of these steps correctly, now you should have a dataset that tells you how many animes each user has rated

Moreover, your `user_id` column should be now the index!

**Q. Which user (by ID) has rated the most anime?**

Answer:

Now you will do the following:

1. Create a new dataframe called `anime_ratings` which shows the number of times each anime was rated and it's mean rating
2. Rename column `count` as `Number of Ratings` and `mean` to `Average Rating`
3. Drop any anime which received fewer than $100$ ratings and sort by `Number of Ratings` (descending)
4. Round the average ratings to 2 decimal places

In [ ]:
# Your code here

You should have a total of $3513$ rated anime

**Q. Which Anime (by ID) was rated most often? How often? What was it's average rating?**

Answer:

Now, we will import a second dataset called `anime.csv` to the variable `anime`.

In this one, the first column is the `anime_id` (which is unique)

You should have $10228$ rows, each describing one anime

In [ ]:
anime = pd.read_csv('https://www.dropbox.com/s/h9tcxvon85evu19/anime.csv?raw=1', index_col=0)
# Your code here

We want to add the ratings from the `anime_ratings` dataframe onto the `anime` dataframe

Every rating in `anime_ratings` has a corresponding entry in `anime`

However, since we removed the entries of lesser rated anime (in the `anime_ratings` dataset), there are anime in the `anime` dataframe without corresponding entries in `anime_ratings`

**Q. If we want to keep all of the information about anime (regardless of whether we have the rating or not), what type of join should we us, considering `anime` as the left and `anime_ratings` as the right dataset?**

Answer:

**Q. If we want to only keep anime which have ratings, what type of join should we use?**

Answer:

Perform a join to keep only anime which have ratings

You should have 3,513 rows

In [ ]:
# Your code here

Sort the data frame by `Average Rating` (descending)

**Q. Which anime was most highly rated?**

In [ ]:
# Your code here

Answer:

**Q. Which anime had the most ratings?**

In [ ]:
# Your code here

Answer:

The types of anime are `Movie`, `Music`, `ONA`, `OVA`, `Special` and `TV`

Use data aggregation to produce the following summary of the anime

| type    | Number of Anime | Median Number of Ratings per Anime |
| :------ | --------------: | ---------------------------------: |
| TV      |            1713 |                              921.0 |
| OVA     |             602 |                              349.5 |
| Movie   |             555 |                              719.0 |
| Special |             513 |                              350.0 |
| ONA     |              93 |                              439.0 |
| Music   |              37 |                              255.0 |

In [ ]:
# Your code here